$font: 'Comfortaa', cursive;
$green: #a7e69a;
$white: rgb(233, 233, 233);

body {
  margin: 0;
  font-family: $font;
}

.textarea {
  position: relative;
  height: 200px;
}

.textarea textarea {
  resize: none;
  z-index: 1;
  caret-color: black;
  color: black;
  background-color: transparent;
}

.textarea textarea,
.textarea pre {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 15px;
  font-family: $font;
  line-height: 1.2em;
  border: 0;
  white-space: pre-wrap;
}

.textarea pre {
  top: 0;
  left: 0;
  z-index: 0;
  color: #fff;
  white-space: -moz-pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

.highlight {
  background-color: #d2e1f5;
}

code {
  font-family: $font;
}

.delete-tag {
  position: relative;
  top: 3px;
  cursor: pointer;
}

.noteTag {
  display: inline-block;
  background-color: rgb(177, 175, 194);
  width: fit-content;
  padding: 3px;
  border-radius: 20px;
  margin: 3px 1px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dark-mode {
  background-color: black;
}

.dark-mode h1 {
  color: white;
}

.container {
  max-width: 960px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
  min-height: 100vh;
  word-break: break-word;
}

.notes-list {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

.note.new {
  background-color: $green;
}

textarea {
  border: none;
  resize: none;
  background-color: $green;
  font-family: $font;
}

button, input {
  font-family: $font;
}

.edit-area {
  background-color: #fffbc7;
  width: 100%;
  border-radius: 10px;
  padding: 5px;
}

.specialTag {
  font-size: 50px;
}

.edit-icon {
  float: right;
  margin: 10px 0;
}

textarea:focus {
  outline: none;
}

.save {
  background-color: #e1e1e1;
  border: none;
  border-radius: 15px;
  padding: 5px 10px 5px 10px;
}

.save:hover {
  background-color: #ededed;
  cursor: pointer;
}

.note {
  background-color: #ffe87b;
  border-radius: 10px;
  padding: 1rem;
  min-height: 170px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  white-space: pre-wrap;
}

.note-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 0;
  border-top: solid 1px rgba(0, 0, 0, 0.15);;
}

.delete-icon,
.edit-icon {
  cursor: pointer;
}

.text-note:hover {
  cursor: pointer;
  width: 100%;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.15);
  padding: 5px;
}

.dropdown {
  margin-left: 3%;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 10;
  user-select: none;
}

.dropdown-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 10;
  top: 50%;
}

.dropdown-item {
  box-shadow: 3px 3px 10px 6px rgba(0, 0, 0, 0.1);
  margin: 3px 0;
  width: 100px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: $white;
  overflow: hidden;
  white-space: pre-wrap;
  text-overflow: ellipsis; // если очень длинный тег
}


.dropdown .dropdown-content .dropdown-item {
  transition: all 0.2s;
}

.dropdown .dropdown-content .dropdown-item:hover {
  background-color: #f4f4f4;
}

.search {
  display: flex;
  align-items: center;
  background-color: $white;
  border-radius: 10px;
  padding: 5px;
  margin-bottom: 1.5em;
  width: 90%;
  height: 30px;
}

.search-block {
  display: flex;
}

.search input, .input-tag {
  border: none;
  background-color: $white;
  width: 100%;
}

.input-tag-block {
  display: flex;
  justify-content: center;

  .input-tag {
    width: 70%;
    background-color: inherit;
  }
}

.tag-block {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 5px;

  .tag-input {
    width: 90%;
  }

  .tag-confirm {
    width: 8%;
    cursor: pointer;
  }
}

.search input, .input-tag:focus {
  outline: none;
}
